.header {
  display: flex;
  background: pink;
  height: 120px;
  border-radius: 50px;
  justify-content: space-between;
}

.header-activity {
  display: flex;
  align-items: center;
  margin-left: 50px;
  margin-right: 50px;
}

.header-activity button {
  width: 200px;
  height: 80px;
  background-color: #fff;
  border: none;
  margin-right: 20px;
  font-size: 50px;
  border-radius: 50px;
}

.Dropdown-control {
  display: flex;
  align-items: center;
  width: 200px;
  height: 80px;
  font-size: 50px;
  border-radius: 50px !important;
}

.Dropdown-arrow {
  top: 50% !important;
}

.Dropdown-option.is-selected {
  display: none;
}

.Dropdown-option {
  font-size: 30px;
}

.header-add {
  margin-right: 50px;
  display: flex;
  align-items: center;
}

.header-add button {
  width: 400px;
  height: 80px;
  font-size: 40px;
  border-radius: 50px;
  border: none;
  background-color: #fff;
}
