.footer-pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100px;
}

.footer-profile-icon {
  font-size: 5rem;
  margin-right: 2rem;
  display: flex;
  justify-content: flex-end;
  position: fixed;
  top: 85%;
  right: 1.5%;
  cursor: pointer;
  color: rgb(87, 96, 179);
}

.footer-numberPage {
  margin-left: 20px;
  margin-right: 20px;
}

.footer-numberPage button {
  width: 70px;
  height: 70px;
  border-radius: 50px;
  border: 5px solid rgb(87, 96, 179);
  background-color: #fff;
  cursor: pointer;
  font-size: 25px;
  font-weight: bold;
}

.footer-arrow {
  width: 50px;
  height: 50px;
  cursor: pointer;
  color: brown;
}

@media screen and (min-width: 390px) {
  .footer-profile-icon {
    font-size: 2.5rem;
    top: 90%;
    right: -10%;
    transform: translate(-50%, -50%);
  }

  .footer-arrow {
    width: 15px;
    height: 15px;
  }

  .footer-numberPage button {
    font-size: 20px;
    width: 50px;
    height: 50px;
  }
}

@media screen and (min-width: 650px) {
  .footer-profile-icon {
    position: fixed;
    font-size: 3rem;
    top: 90%;
    left: 90%;
    transform: translate(-50%, -50%);
  }

  .footer-arrow {
    width: 30px;
    height: 30px;
  }

  .footer-numberPage button {
    font-size: 20px;
    width: 50px;
    height: 50px;
  }
}

@media screen and (min-width: 1280px) {
  .footer-profile-icon {
    font-size: 3.5rem;
    top: 95%;
    right: -9%;
    transform: translate(-50%, -50%);
  }
}

@media screen and (min-width: 2190px) {
  .footer-profile-icon {
    font-size: 5rem;
    top: 90%;
    right: 93%;
    transform: translate(-50%, -50%);
  }
}
